body {
  background-color: #242333;
  color: #fff;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.movie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  font-family: inherit;
  margin-left: 10px;
  padding: 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

#movie-poster {
  width: 400px;
  border-radius:10px;
  margin: 20px;
}

#movie {
  margin: 5px 0 20px 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  margin-bottom: 30px;
}

.seat {
  background-color: #444451;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: #6feaf6;
}

.seat.occupied {
  background-color: #fff;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex;
}

.screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: #6feaf6;
}

.book-btn {
  background-color: #6feaf6;
  border: 1px solid #6feaf6;
  border-radius: 5px;
  color: #242333;
  cursor: pointer;
  font-size: 16px;
  font-family: inherit;
  margin-top: 20px;
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.book-btn:hover {
  background-color: #242333;
  color: #6feaf6;
  border: 1px solid #6feaf6;
  transform: scale(1.1);
}

.btn-container {
  height: 115px;
}

.form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #242333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 450px;
}

.form input {
  width: 430px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form button {
  width: 450px;
  padding: 10px;
  margin: 20px 0 0 0;
  background-color: #6feaf6;
  border: 1px solid #6feaf6;
  border-radius: 5px;
  color: #242333;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.form button:hover {
  background-color: #242333;
  color: #6feaf6;
}